{:kotoba.app/id "cloud.itonami.isic-0119", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifk64is5qq3h2ztla7q2olxeclqd6s7izyngchkxhyyemmnpj6u5u", :kotoba.app/embed-url "ipfs://bafkreifk64is5qq3h2ztla7q2olxeclqd6s7izyngchkxhyyemmnpj6u5u", :published {:archive "https://kotobase.net/ipfs/bafkreifk64is5qq3h2ztla7q2olxeclqd6s7izyngchkxhyyemmnpj6u5u", :size 72509, :put-status 201, :get-status 200, :at "2026-08-15T12:55:46.321Z"}}
